h1{

	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid white;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
    
}
body{

	
	background-size: 500px;
}
img:hover{
	
background-size: 760px;	
	
}
