h1.solid {outline-style: solid;}
h1{
	font-size: 100px;
	font-family: "Comic Sans MS",Verdana;

 border: 7px solid black;
    outline-style: solid;
    outline-color: red;
animation-iteration-count: 0;
}
h1:hover{
    animation-iteration-count: infinite;
	font-style: italic;
}
body{
	background-image: url("https://ichef.bbci.co.uk/news/660/cpsprodpb/1999/production/_92935560_robot976.jpg");

}

#Main{
	
	font-size: 30px;
}
#Pic1{
	position: relative;
	left: 700px;

}